::selection {
	color: black;
	background: #a8e4ec;
}
.site-nav .page-link {
	color: #444;
}
a.page-link:hover {
	color: #444;
}
a.page-link:before {
	background-color: #444;
}
body {
	background-color: white;
	color: rgb(1, 6, 62);
}
.socmed-icons a svg {
	height: 1.75em;
	-webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.3s ease-in-out; /** Firefox **/
	-o-transition: all 0.3s ease-in-out; /** Opera **/
	transition: all 0.3s ease-in-out;
}
.socmed-icons a svg:hover {
	-ms-transform: translateY(-5px); /* IE 9 */
	-webkit-transform: translateY(-5px); /* Chrome, Safari, Opera */
	transform: translateY(-5px);
}
.socmed-icons a svg:hover path {
	-webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.3s ease-in-out; /** Firefox **/
	-o-transition: all 0.3s ease-in-out; /** Opera **/
	transition: all 0.3s ease-in-out;
	fill: #a8e4ec;
}
svg path {
	fill: #444;
}
svg circle {
	stroke: #444;
}
.page-content {
	padding-top: 0;
	padding-bottom: 5.25em;
}
.section:first-of-type {
	margin-top: 5.25em;
	padding-top: 5.25em;
}
.site-header, .wrapper {
	background: white; 
}
.wrapper {
	padding-left: 0;
	padding-right: 5.25em;
	box-shadow: 0 1px 10px rgba(0,0,0,.7);
	border-radius: 5px;
}
header .wrapper {
	box-shadow: none;
}
.site-nav {
	margin-right: -5.25em;
}

.section {
	margin-top: 4.5em;
}
.left-margin {
	position: relative;
	background: #444;
	width: 4.5em;
	float: left;
	height: 1em;
	border-radius: 1px;
}
.left-margin:after {
	content: '';
	position: absolute;
	margin-top: 0.33em;
	margin-left: -1em;
	height: 1em;
	width: 1em;
	background: #555;
	border-radius: 2px 0 0 0;
	-webkit-transform: skew(0deg, -30deg);
	-moz-transform: skew(0deg, -30deg);
	-ms-transform: skew(0deg, -30deg);
	-o-transform: skew(0deg, -30deg);
	transform: skew(0deg, -30deg);
}
.left-margin:before {
	content: '';
	position: absolute;
	margin-top: 1em;
	margin-left: -1em;
	height: 1em;
	width: 1em;
	background: #333;
	border-radius: 2px 0 0 2px;
	-webkit-transform: skew(0deg, 30deg);
	-moz-transform: skew(0deg, 30deg);
	-ms-transform: skew(0deg, 30deg);
	-o-transform: skew(0deg, 30deg);
	transform: skew(0deg, 30deg);
	box-shadow: black 0 0 15px;
		z-index: -10;
}
.section-content {
	margin-left: 4.5em;
	padding-left: 0.75em;
}
.section-title {
	font-size: 1.75em;
	text-transform: uppercase;
	line-height: 1;
}
.socmed-icons {
	float: right;
}

.section-subtitle {
	line-height: 1;
	margin-top: 0.25em;
}
.text-box {
	margin-top: 0.75em;
	border-left: solid #444 0.25em;
	padding: 0.75em;
	font-size: 0.85em;
}

.horizontal-bar-chart {
	padding-top: 0.75em;
}
.horizontal-bar {
	margin-top: 0.25em;
	height: 1.75em;
	width: 0px;
	border-radius: 2px;
	background: #444;
	font-size: 0.65em;
	color: white;
	text-transform: uppercase;
	line-height: 1.5;
	padding-left: 0.5em;
	padding-top: 0.25em;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}
.horizontal-bar:hover {
	background: #54b3d6;
	color: black;
}
.list-item {
	margin-top: 2em;
	overflow: auto;
}
.list-head {
	float: left;
	width: 20rem;
	font-size: 0.93em;
}

.list-title, .list-title a{
	font-weight: bold;
	font-style: italic;
	color: #444;
	transition: color 0.5s ease-in-out, box-shadow 1s ease-in-out;
	text-decoration:none;
}
/** https://stackoverflow.com/questions/7217244/style-child-element-when-hover-on-parent **/
.list-item:hover .list-title a{ 
color: #fff;
font-weight: bold;
font-style: italic;
text-decoration:none;
box-shadow: inset 20rem 0 0 0 #54b3d6;
}

.list-date {
	font-style: italic;
	font-size: 0.83em;
}
.list-link a {
	text-decoration:none;
	font-style: italic;
	font-size: 0.83em;
	color: #444;
}

.list-link a:hover {
	text-decoration:none;
	color: #de3f00;
}

.list-description {
	margin-left: 20rem;
	padding-left: 0.75em;
	font-size: 0.83em;
}

.project-container {
	margin-top: 2em;
	display: inline-block;
}
.project {
	float: left;
	width: calc((100% - 1em) / 2);
	border-radius: 2px;
	margin-right: 1em;
	margin-bottom: 1em;
	opacity: 0;
}
.project:nth-child(2n+2) {
	margin-right: 0;
}

.project:nth-last-child(-n+2) {
	margin-bottom: 0;
}
/**   https://codepen.io/nxworld/pen/ZYNOBZ **/
.project img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project img:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
.project img.wide {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.project img.tall {
	max-height: 100%;
	max-width: 100%;
	width: auto;
}​

.form-line {
	width: 100%;
	margin-top: 0.75em;
}
input[type=text], input[type=email], textarea {
	width: 100%;
	padding: 0.75em;
	margin: 0.75em 0;
	border: none;
	border-left: solid #444 0.25em;
	background: none;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.83em;
}
textarea {
	resize: vertical;
}
input[type=submit] {
	color: #444;
	background: none;
	border: none;
	border-left: solid #444 0.25em;
	border-right: solid #444 0.25em;
	padding: 0.25em 0.75em 0.25em 0.75em;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: padding-left 0.4s, padding-right 0.4s; /* Safari */
	transition: padding-left 0.4s, padding-right 0.4s;
}
input[type=submit]:hover {
	padding-left: 1.75em;
	padding-right: 1.75em;
}
/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */







/* Grid-related CSS */
:root {
--squareSize: 15px;
--defaultColor: #76767600;
--fontColor: #000000;
--level4: #196127;
--level3:  #7bc96f;
--level2: #c6e48b;
--level1: #ebedf0;
--numWeeks: 52;
--grid-gap: 5px;
--github-gap: 10px;
}

.github {
display: grid;
grid-template-columns: max-content 1fr;
grid-gap: var(--github-gap);
grid-template-areas:
". months"
"weekdays contributions";

font-size: 14px;
color: var(--fontColor);
}

.weekdays {grid-area: weekdays;}

.contributions {
grid-area: contributions;
}

.weekdays,
.contributions {
display: grid;
grid-gap: var(--grid-gap);
grid-template-rows: repeat(7, var(--squareSize));
}

.months {
grid-area: months;
padding: 5px 0;

display: grid;
grid-template-columns: repeat(var(--numWeeks), var(--squareSize));
grid-column-gap: var(--grid-gap);
justify-items: center;
align-items: center;
}

.month {grid-row: 1;}

.jan { grid-column: 45 / span 5; }
.feb { grid-column: 50 / span 3; }
.mar { grid-column: 1 / span 5; }
.apr { grid-column: 6 / span 4; }
.may { grid-column: 10 / span 5; }
.jun { grid-column: 15 / span 4; }
.jul { grid-column: 19 / span 5; }
.aug { grid-column: 24 / span 4; }
.sep { grid-column: 28 / span 4; }
.oct { grid-column: 32 / span 5; }
.nov { grid-column: 37 / span 4; }
.dec { grid-column: 41 / span 4; }


.contributions {
grid-auto-flow: column;
grid-auto-columns: var(--squareSize);
}

.square {border: 0px solid var(--defaultColor);}
.darkgreen {background: var(--level4);}
.green {background: var(--level3);}
.lightgreen {background: var(--level2);}
.gray {background: var(--level1);}




@media screen and (max-width: 750px) {
	html {
		min-width: 320px;
	}
	.site-nav {
		margin-right: 0;
	}
	header .wrapper {
		padding-left: 0.75em;
	}
	.wrapper {
		padding-right: 0.75em;
	}
	.page-content {
		padding-bottom: 0;
	}
	.left-margin {
		display: none;
	}
	.section:first-of-type {
		margin-top: 0;
	}
	.section-content {
		margin-left: 0;
	}
	.list-head{
		float: none;
	}
	.list-description {
		margin: 0;
		padding: 0.75em 0 0 0;
	}
	.project {
		float: left;
		width: Calc((100% - 1em) / 2);
		border-radius: 2px;
		margin-right: 1em !important;
		margin-bottom: 1em !important;
		opacity: 0;
	}
	.project:nth-child(2n+2) {
		margin-right: 0 !important;
	}
	.project:nth-last-child(-n+2) {
		margin-bottom: 0 !important;
	}
}