<header>
  <div id="__next">

    <nav id="td-navbar" class="td-navbar td-navbar-container-shadow" role="navigation" aria-label="main navigation"
      style="position: fixed; height: 60px; max-width: 100vw; width: 100%">

      <!-- brand -->
      <div class="td-navbar-brand">
        <a target="_self" class="td-navbar-item" rel="noreferrer">
          <div class="td-navbar-brand-logo"><img src="assets/img/avatar.svg" style="height: 28px; max-height: 3rem"
              alt="website logo" /></div>
          <div href="index" class="td-navbar-item-link" role="none"><span>Francisco</span></div>
        </a>
        <!-- links -->
        <a role="button" class="td-navbar-burger" tabindex="0" aria-label="menu" aria-expanded="false"
          onclick="toggleMobileMenu(this)">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

      </div>
      <!-- links -->
      <div class="td-navbar-middle nav-items">

        <a href="index" target="_self" class="td-navbar-item">
          <div class="td-navbar-item-link" style="color: var(--text-sharp)">
            <span>Home</span>
          </div>
        </a>

        <a href="now" target="_self" class="td-navbar-item">
          <div class="td-navbar-item-link" style="color: var(--text-sharp)">
            <span>Now</span>
          </div>
        </a>

        <a href="about" target="_self" class="td-navbar-item">
          <div class="td-navbar-item-link" style="color: var(--text-sharp)">
            <span>About</span>
          </div>
        </a>
      </div>
      <!-- newsletter 
      <div class="td-navbar-end">
        <a href="/#newsletter" target="_self" class="td-navbar-item">


          <div class="button_sleek" style="
                  --width: 700px;
                  --max-width: min(100%, 700px);
                  --horizontal-alignment: right;">
            <a href="#newsletter" rel="noreferrer"><button class="button_sleek1" style="
                      background: #000000;
                      color: #ffffff;
                      box-shadow: 0 10px 20px -100px var(--shadow-color-black);
                    " type="button">
                <div></div>
                <span class="_1untytp0">Newsletter →</span>
              </button></a>
          </div>
      </div> -->
      </a>
  </div>


  </nav>
  <div style="height: 20px"></div>
  </div>
</header>
