---
layout: blank
description: Hayden Elza - Forester and GIS Specialist
---

<!DOCTYPE html>
<html>
<head>
	<title>Hayden Elza</title>
	<link rel="shortcut icon" href="./assets/img/favicon.png">
	<link rel="stylesheet" href="./assets/css/font-awesome.min.css" />

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		#title {
			background: #607d8b;
			padding: 7%;
			text-transform: uppercase;
		}
		#display-picture {
			width: 100%;
			margin-top: 15px;
			float: right;
			border-radius: 100%;
		}
		.section-title h4 {
			text-transform: uppercase;
			text-align: center;
		}
		.uppercase {
			text-transform: uppercase;
		}
	</style>
</head>
<body>
	<!-- Navbar -->
	<div class="">
		<nav class="blue-grey darken-1">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo uppercase" style="padding-left: 25px;">Hayden Elza</a>
				<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down uppercase">
					<li><a href="#projects">Projects</a></li>
					<li><a href="#skills">Skills</a></li>
					<li><a href="#experience">Experience</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="side-nav" id="mobile-menu">
					<li><a href="#projects">Projects</a></li>
					<li><a href="#skills">Skills</a></li>
					<li><a href="#experience">Experience</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- Page Layout -->
	<div class="parallax-container hide-on-small-only">
		<div class="parallax"><img src="./assets/img/mountains.jpg" style=""></div>
	</div>
	<!--<div id="title" class="center-align z-depth-1">
		<h1 class="truncate" style="color: white; letter-spacing: 15px;">Hayden Elza</h1>
		<h4 class="card-panel white truncate" style="display: inline; padding: 5px;">GIS Analyst / Forester</h4>
	</div>-->
	<br><br><br>
	<div class="container">
		<!-- About -->
		<div class="row">
			<div class="col s12 m4 offset-m1 l3 offset-l2">
				<img class="z-depth-1" id="display-picture" src="./assets/img/index/about2.png"/>
			</div>
			<div class="col s12 m6 l5">
				<p>Hey, I'm Hayden.</p>
				<p>Woodsman, Linux Geek, Drone Enthusiast, Maker</p>
				<p>Born and raised in the Fox Valley region of Wisconsin, later moving to Madison, WI to attend university.</p>
				<p>Rambles out yonder and explores the forests. Equally lost in code to create and automate. Constently tweaking and tinkering in pursuit of perfection. Passion constituted by an elegant mix of nature and technology.</p>
			</div>
		</div>
		<br><br><br>
		<!-- Projects -->
		<div class="row">
			<div class="col s12 m6 offset-m3 l6 offset-l3 section-title">
				<a name="projects"></a>
				<h4>Projects<h4>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">

			<div class="col s12 m4 l4">
				<div class="card blue-grey darken-1">
					<div class="card-image white waves-effect waves-block waves-light">
						<img class="activator" src="./assets/img/index/projects_sampleplotter.png">
					</div>
					<div class="card-content">
						<span class="card-title activator">Sample Plotter<i class="material-icons right">more_vert</i></span>
						<p><a class="orange-text uppercase" href="http://www.sampleplotter.com/">samplepotter.com</a></p>
					</div>
					<div class="card-reveal blue-grey darken-1">
						<span class="card-title">Sample Plotter<i class="material-icons right">close</i></span>
						<p class="white-text">This simple webapp creates sample plots for a given an uploaded shapefile. You can specify the sample type (systematic grid, equidistant, and random), the number of points, and the rotation. Great tool for foresters and researchers as it is quick, easy, and does not require any special software because it is cloud-based.</p>
						<p><a class="orange-text uppercase" href="http://www.sampleplotter.com/">samplepotter.com</a></p>
					</div>
				</div>
			</div>

			<div class="col s12 m4 l4">
				<div class="card blue-grey darken-1">
					<div class="card-image grey ligten-1 waves-effect waves-block waves-light">
						<img class="activator" src="./assets/img/index/projects_ogp.png">
					</div>
					<div class="card-content">
						<span class="card-title activator">OpenGeoportal<i class="material-icons right">more_vert</i></span>
						<p><a class="orange-text uppercase" href="http://maps.aqua.wisc.edu/opengeoportal">Link to OpenGeoportal</a></p>
					</div>
					<div class="card-reveal blue-grey darken-1">
						<span class="card-title">OpenGeoportal<i class="material-icons right">close</i></span>
						<p class="white-text">The <a class="orange-text" src="http://www.wicoastalatlas.net/">Wisconsin Coastal Atlas</a> uses <a class="orange-text" src="http://www.opengeoportal.org/">Open Geoportal</a>. The Open Geoportal is a consortium comprised of contributions of several universities and organizations to help facilitate the discovery and acquisition of geospatial data across many organizations and platforms. The Open Geoportal provides organizations the opportunity to share thousands of geospatial data layers, maps, metadata, and development resources through a single common interface.</p>
						<p><a class="orange-text uppercase" href="http://maps.aqua.wisc.edu/opengeoportal">Link to OpenGeoportal</a></p>
					</div>
				</div>
			</div>

			<div class="col s12 m4 l4">
				<div class="card blue-grey darken-1">
					<div class="card-image blue lighten-4 waves-effect waves-block waves-light">
						<img class="activator" src="./assets/img/index/projects_MCAdmin.png">
					</div>
					<div class="card-content">
						<span class="card-title activator">MC-Admin<i class="material-icons right">more_vert</i></span>
						<p><a class="orange-text uppercase" href="https://github.com/HaydenElza/MC-Admin">Link to GitHub repo</a></p>
					</div>
					<div class="card-reveal blue-grey darken-1">
						<span class="card-title">MC-Admin<i class="material-icons right">close</i></span>
						<p class="white-text">This is a small collection of scripts I use to manage a small vanilla minecraft server.</p>
						<p class="white-text">Scripts include server start, live backup, and stop server commands as well as info on how to create a <a class="orange-text" href="http://elza.me/blog/2015/06/Minecraft-Teleport/">teleportation book</a>.</p>
						<p class="white-text">Learn more about server at: <a class="orange-text" href="http://xn--myrkvir-1za.com/">myrkvi&eth;r.com</a></p>
						<p><a class="orange-text uppercase" href="https://github.com/HaydenElza/MC-Admin">Link to GitHub repo</a></p>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<!-- Skills -->
			<div class="col s12 m4 l4 section-title">
				<a name="skills"></a>
				<h4>Skills</h4>
				<div class="divider"></div>
				<p id="skills" class="center-align flow-text"></p>
			</div>
			<!-- Experience -->
			<div class="col s12 m4 l4 section-title">
				<a name="experience"></a>
				<h4>Experience</h4>
				<div class="divider"></div>
				<br>
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">place</i>GIS Anaylist / Forester</div>
						<div class="collapsible-body">
							<p>Mladenoff Forest Landscape Ecology Lab - University of Wisconsin Madison</p>
							<p style="padding-top: 0;">Work on a plethora of projects including assessing wetlands loss in Wisconsin since pre-settlement time, Bordner map digitization initiative, and other small projects and map/data requests.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">build</i>Geo Systems and Web Dev</div>
						<div class="collapsible-body">
							<p>Sea Grant Institute - University of Wisconsin Madison</p>
							<p style="padding-top: 0;">Manage web resources including web sites and web apps, data servers, supporting databases, and machines.</p>
							<p style="padding-top: 0;">Develop custom stack consisting in part of Windows Server 2008, Postgres, PostGIS, Geoserver/Mapserver, Tomcat, OpenGeoportal/solr/GeoNetwork, and Apache.</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- Contact -->
			<div class="col s12 m4 l4 section-title">
				<a name="contact"></a>
				<h4>Contact</h4>
				<div class="divider"></div>
				<div class="row">
					<form action="mailto:forms.elza@gmail.com" enctype="text/plain" method="post">
						<div class="input-field col s12">
							<input name="Name" id="name" type="text" class="validate">
							<label for="name">First Name</label>
						</div>
						<div class="input-field col s12">
							<input name="Email" id="email" type="email" class="validate">
							<label for="email" data-error="wrong" data-success="right">Email</label>
						</div>
						<div class="input-field col s12">
							<textarea name="Message" id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Message</label>
						</div>
						<button class="btn waves-effect waves-light orange darken-1 right" type="submit">Submit
							<i class="material-icons right">send</i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="page-footer blue-grey darken-1">
		<div class="container">
			<div class="row">
				<div class="col s12 l4">
					<h5 class="white-text uppercase">nav</h5>
					<ul>
						<li><a class="orange-text text-darken-1 uppercase" href="/about">about</a></li>
						<li><a class="orange-text text-darken-1 uppercase" href="/portfolio">portfolio</a></li>
						<li><a class="orange-text text-darken-1 uppercase" href="/skills">skills</a></li>
						<li><a class="orange-text text-darken-1 uppercase" href="/contact">contact</a></li>
					</ul>
				</div>
				<div class="col s12 l8">
					<h5 class="white-text">Recent Blog Posts:</h5>
					{% for post in site.posts limit:3 %}
						<p class="orange-text text-darken-1" style="margin-bottom: 0px;">{{ post.date | date: "%b %-d, %Y" }}</p>
						<a href="{{ post.url | prepend: site.baseurl }}" class="grey-text text-lighten-4 truncate" style="font-size: 20px; margin-top: 0;">{{ post.title }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center-align">
				&copy; 2016 Hayden Elza.  All rights reserved.
			</div>
		</div>
	</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<!-- Create Skill Chips -->
<script>
	var skills = ["Python","Bash","R","HTML","CSS","SQL","JavaScript","GDAL","ArcGIS","Quantum GIS","Tomcat","Solr","GeoServer","PostGIS","PostgreSQL","Arch Linux","Linux","Ubuntu","Microsoft Servers","Microsoft Office","Illustrator","Photoshop"];
	var i = 0;
	var text = "";
	for (;skills[i];) {
		text += '<div class="chip" style="margin: 5px;">' + skills[i] + "</div>";
		i++;
	}
	document.getElementById("skills").innerHTML = text;
</script>

<script>
	// Initialize collapse button
	$(".button-collapse").sideNav({
		 closeOnClick: true
	});
	// Paralax init
	$(document).ready(function(){
		$('.parallax').parallax();
	});
</script>

{% include google_analytics.html %}

</body>
</html>
